:host {display: block;}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 1em;
    gap: 1em;
}

.card-key-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    padding: 1em;
    gap: 1em;
}

