@let isHandset = this.isHandset();

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="isHandset ? 'over' : 'side'"
    [opened]="isHandset === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list aria-label="App navigation">
      <li>
        <a mat-list-item routerLink="/actions" (click)="drawer.mode == 'over' && drawer.toggle()">Actions</a>
      </li>
      <li>
        <a mat-list-item routerLink="/settings" (click)="drawer.mode == 'over' && drawer.toggle()">Settings</a>
      </li>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      @if (isHandset) {
        <button type="button" aria-label="Toggle sidenav" matIconButton (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>leinelapp-capacitor</span>
    </mat-toolbar>

    <ng-content/>
  
  </mat-sidenav-content>
</mat-sidenav-container>
